<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
        body,form{margin:0;padding:0;list-style:none;font-size:14px;}
        textarea{
        	width:100%;
        	height:100%;
        	max-height:100%;
        	max-width:100%;
        	margin:0;
        	padding:20px;
        	color:#666;
        	font-family:Courier New;
        	line-height:152%;
        	word-wrap:break-word;
        	border:0;
  			resize: none;
        }
    </style>
    <script type="text/javascript">
    	function sub(val){
    		document.forms[0].submit();
    		//window.parent.output.location.href="/comm_code.php?input="+val;
    	}
    </script>
</head>
<body>
	<form action="/comm/code.php" method="post" target="output">
		<textarea name="input" spellcheck="false" onblur="sub(this.value)"></textarea>
	</form>
</body>
</html>